<div class="card-wrapper" id="card_wrapper">
  <div class="card">
    <div class="left">
      <div class="icon" id="MYOB"></div>
    </div>
    <div class="right">
      <div class="text">
        <div class="heading" id="heading">
            <h3 class="title" id="title"><%= shop.name %></h3>
            <p class="card-text">Shop owner: <%= shop.user.username %></p>
            <p class="company_time" id="graytext"><%= shop.name %></p>
            <p class="duration_location" id="graytext"><%= shop.name %></p>
        </div>
      </div>
    </div>
  </div>
</div>