<body class="dressshowbody">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="show-content">
    <div class="introcontent">
      <h2>Introduction</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis amet repellendus, ea cupiditate rerum explicabo debitis, dolor voluptatibus fugiat adipisci, quae rem soluta maiores accusantium ab autem culpa dolorem molestias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea magni quisquam labore! Facilis vel, ab mollitia fuga commodi, quam quidem natus recusandae modi quae voluptatem harum esse, quisquam similique molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis omnis vel accusamus necessitatibus laudantium, possimus qui incidunt esse doloremque eligendi voluptatibus minima, iusto maiores, debitis placeat assumenda repudiandae enim mollitia quia eaque odit! Aperiam, non cumque! Repellat dolores quibusdam voluptate autem, adipisci qui hic! Animi voluptas officiis, ab rem corrupti in blanditiis sunt nesciunt iusto, eaque sapiente ducimus omnis adipisci, odio velit beatae incidunt illum repellat eos tenetur consequuntur. Voluptates tempore excepturi eligendi saepe voluptatibus cumque aliquam nostrum labore voluptatem! Dolorum eum facere vero laboriosam debitis dicta porro expedita hic alias! Voluptas aspernatur nam dignissimos pariatur, incidunt porro sunt eligendi.
      <br>
      <br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum provident ducimus aut animi deleniti. Placeat explicabo iste error soluta libero asperiores omnis sed ipsam quibusdam nihil voluptatem facere, quia facilis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, ea veniam iusto consequuntur molestias deserunt atque harum ullam, enim dicta dolorum nisi quibusdam dolorem facilis voluptate modi quis laborum ipsum esse pariatur illum quam. Assumenda, asperiores animi error totam sapiente, nisi similique molestiae quis ullam nobis, impedit vero! Nesciunt, quisquam!</p>
    </div>
  </div>

  <main role="main" class="container">
  </main><!-- /.container -->
</body>