// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart-go-btn, .cart-back-btn {
  color: dodgerblue;
}

.cart-go-btn:hover, .cart-back-btn:hover {
  color: darkgray;
}

.cart-buttonwrapper {
  display: flex;
  justify-content: center;
}

.cart-line {
  margin: 0 0 5px 0;
  border-color: gray;
}

.cart-item {
  display: flex;
  justify-content: space-between;
}
.cart-item-title {
  width: 60%;
  font-size: larger;
  margin-left: 10px;
}

.delete-wrapper {
  display: flex;
}
.cart-delete-btn {
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-right: 30px;
  margin-left: 5px;

}