// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// format cards with similar style
.shoplist-wrapper{
  // background-color: powderblue;
  display: flex;
  flex-direction:column;
  align-items: center;
.card-wrapper{
  width: 80vw;
  height:250px;
  background-color:white;
  display: flex;
  // border-style: solid;
  border-width: thin;
  margin: 12px;
  justify-content: center;
  align-items: center;
  // border-color: darkgray;
  border-top: rgba(148,148,148,0.4) dashed thin;
  border-radius: 30px;
  box-shadow:0 6px 10px 0 rgba(0,0,0,0.2); 

  .shopcard {
    font-family: Arial, Helvetica, sans-serif;
    width: 98%;
    height: 96%;
    border:none;
    background-color: transparent;
    // background-color: pink;
    display:flex;

    .left {
      // background-color: peachpuff;
      width: 30%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        width:60%;
        // margin-top: 20px;
        // border-top: rgba(0,0,0,0.2)solid thin;
      }

    }

    .middle {
      // background-color: powderblue;
      width: 25%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // border-left:rgba(148,148,148,0.4) dashed thin;

      .text {
        width:95%;
        height:80%;
        color: rgb(63, 63, 63);
        // background-color: palegreen;

        .heading {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 5px;
          margin-top: 8px;

          .title {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 19px;
          }
        }
      }
    }
    .right {
      width:45%;
      background-color: pink;
    }
  }
}
}

.custombutton {
  width: 80px;
  margin-top: 5px;
}