<h1 class="text-center"> Create a new product here </h1>
<div class="dress-formcontainer">
<div class="dress-formwrapper">
  <%= render 'form' %>
  <div style="margin-left: 15px;">
  <%= link_to "Back", dresses_path, class: 'btn btn-outline-success' %>
  </div>
  <br><br>
</div>
</div>