.signuplink{
  color: dodgerblue;
}

.signuplink:hover, .signuplink:focus{
  color:gray;
} 

.forgotpasswordlink{
  color:dodgerblue
}

.forgotpasswordlink:hover, .forgotpasswordlink:focus{
  color:gray;
} 